<div class="ion-header">
  <div class="ion-toolbar">
     <div class="ion-title">Delivery Details</div>
    </div>
</div> 
     
<ion-content > 
  
  <div class="container">
    <div class="text-center">
      <img src="assets\delivery.jpg" class="rounded-circle" alt="...">
    </div>
  </div>
 <div class="container">
  <form>
    <!--<div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>-->
    <input type="text" class="form-control" placeholder="Delivery Boy Name" id="email">
    <br>
    
    <label style="font-family: cursive;font-weight: bold;color:black">Delivery Charges</label>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Ex. in 1km range">
      </div>
      <div class="col">
        <input type="number" class="form-control" placeholder="Rs.45">
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Ex. in 2km range">
      </div>
      <div class="col">
        <input type="number" class="form-control" placeholder="Rs.90">
      </div>
    </div>
    <br>
    
    <input type="number" class="form-control" placeholder="Boy Contact No." >
    <br>
    <input type="text" class="form-control" placeholder="Vehicle Number" >
    <br>
    
    <div style="text-align: center;"><button type="submit" class="btn btn-primary" routerLink="/shopinfo">Done</button></div>
  </form>

</div>
</ion-content>