<div class="ion-header">
  <div class="ion-toolbar">
     <div class="ion-title">Product Category</div>
    </div>
</div>


<ion-content>
<div >
  
   
<ion-row>
  
  <ion-col *ngFor="let data of category;" size="6">
    <ion-card class="card" no-margin (click)="open(data.path)">
      <img [src]="data.image" [alt]="data.name">
      
      <ion-card-content>
        <ion-card-title>
          <ion-row>
            <ion-col text-left no-padding>
              <h3 text-left class="subtitle"style="font-family:cursive;font-size:20px;font-weight:bold;">{{data.name}}</h3>
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>


  
</div>
</ion-content>
