<div class="ion-header">
  <div class="ion-toolbar">
     <div class="ion-title">Select Shop</div>
    </div>
</div> 

<ion-content>
  
   
    <ion-col size="12" >
      <ion-card style=" box-shadow: 5px 5px 5px grey;" routerLink="home"> 
          

<ion-card-header>  
          <ion-card-subtitle>Shop Details</ion-card-subtitle>  
          <ion-card-title>Jain Groceries Pvt. Ltd</ion-card-title>  
          </ion-card-header>  
        <ion-card-content> 
          
          <h4>Shopkeeper Name    : Mr. Aniket Jain</h4>
          <br>
          <h4>Shopkeeper Address : ward No. 6 ,Ashish Vihar ,katangi ,Balaghat ,M.P </h4>
          <br>
          <h4>Contact No. : 9131195732</h4>
          <br>            
        </ion-card-content>  
      </ion-card> 
      </ion-col>
       
      <ion-col size="12" >
        <ion-card style=" box-shadow: 5px 5px 5px grey;">  
            <ion-card-header>  
            <ion-card-subtitle>Shop Details</ion-card-subtitle>  
            <ion-card-title>Saxena superMart </ion-card-title>  
            </ion-card-header>  
          <ion-card-content> 
            
            <h4>Shopkeeper Name    : Mr. Ajeet Saxena</h4>
            <br>
            <h4>Shopkeeper Address : ward No. 13 ,Pankaj Vihar ,katangi ,Balaghat ,M.P </h4>
            <br>
            <h4>Contact No. : 9231195732</h4>
            <br>            
          </ion-card-content>  
        </ion-card> 
        </ion-col>

      


      
    
  
 

</ion-content>