<div class="ion-header">
  <div class="ion-toolbar">
     <div class="ion-title">Product Catalouge</div>
    </div>
</div> 

<ion-content>
  <div class="container">
    <ion-list>
      <ion-item-divider>  
        <ion-label>Grains</ion-label>  
      </ion-item-divider>  
      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Rice
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Pulse
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Flour
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Sugar
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Tea
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Soya Oil
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45 /litre">
          </div>
        </div>
      </ion-item>
      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Gram
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      <ion-item-divider>  
        <ion-label>Masala</ion-label>  
      </ion-item-divider>

      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Cardoman
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Clove
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Termaric
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Chillies
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">GaramMasala
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      <ion-item>          
        <div class="row">
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Hinge
              </label>
            </div>            
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ex.45/kg">
          </div>
        </div>
      </ion-item>

      

      


      
    </ion-list>
    <div style="text-align: center;"><button type="submit" class="btn btn-primary" routerLink="/shopregister">Next>></button></div>
  </div>
 

</ion-content>