
<div class="ion-header">
  <div class="ion-toolbar">
     <div class="ion-title">Shop Registration</div>
    </div>
</div> 

<ion-content>
<div class="container">
  <div class="text-center">
    <img src="assets\shoppe.jpg" class="rounded-circle" alt="...">
  </div>
</div>
<div class="container">
<form>
  
    
      <input type="text" class="form-control" placeholder="ShopName">
       
  <br>
  <input type="text" class="form-control" placeholder="Shop Registration No.">
  <br>
  <input type="email" class="form-control" placeholder="Shop Email" id="email">
  <br>
  
  <input type="number" class="form-control" placeholder=" Shop contact No." id="email">
  <br>
  <input type="text" class="form-control" placeholder="Shop Address" id="email">
  <br>
  <div style="text-align: center;"><button type="submit" class="btn btn-primary" routerLink="/deliveryinfo">RegShop</button></div>
</form>
</div>
</ion-content> 