<div class="ion-header">
  <div class="ion-toolbar">
     <div class="ion-title">Select Area</div>
    </div>
</div> 

<ion-content>
  <div class="container">
  <ion-list>
    <br>
    <br>

    <ion-item>
      <ion-label>State</ion-label>
      <ion-select value="madhyapradesh">
        <ion-select-option value="maharastra">Maharastra</ion-select-option>
        
        <ion-select-option value="madhyapradesh">MadhyaPradesh</ion-select-option>
        <ion-select-option value="Haryana">Haryana</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <br>


    <ion-item>
      <ion-label>District</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="nes">Indore</ion-select-option>
        <ion-select-option value="n64">Bhopal</ion-select-option>
        <ion-select-option value="ps">Balaghat</ion-select-option>
        <ion-select-option value="genesis">Seoni</ion-select-option>
        <ion-select-option value="saturn">Guna</ion-select-option>
        <ion-select-option value="snes">Baihar</ion-select-option>
      </ion-select>
    </ion-item>
<br>
<br>

   
    <ion-item>
      <ion-label>Sub-District</ion-label>
      <ion-select value="katangi">
        <ion-select-option value="1989">Katangi</ion-select-option>
        <ion-select-option value="1990">Waraseoni</ion-select-option>
        <ion-select-option value="1991">Tumsar</ion-select-option>
        <ion-select-option value="1992">Tirodi</ion-select-option>
        
      </ion-select>
    </ion-item>
  </ion-list>
  </div>
  <br>
  <br>
  
  <div style="text-align: center;"><button type="submit" class="btn btn-primary" routerLink="/category">Next>></button></div>

</ion-content> 