
<div class="ion-header">
    <div class="ion-toolbar">
       <div class="ion-title">Shopkeeper Registration</div>
      </div>
  </div> 

<ion-content>
<div class="container">
    <div class="text-center">
      <img src="assets\shopkeeper.jpg" class="rounded-circle" alt="...">
    </div>
  </div>
 <div class="container">
  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
    <br>
    <input type="email" class="form-control" placeholder="Enter Email" id="email">
    <br>
    <input type="password" class="form-control" placeholder="Enter Password" id="pwd">
    <br>
    <input type="number" class="form-control" placeholder="Mobile No." id="email">
    <br>
    <input type="text" class="form-control" placeholder="Address" id="email">
    <br>
    <div style="text-align: center;"><button type="submit" class="btn btn-primary" routerLink="/scity">Register</button></div>
  </form>
</div>
</ion-content> 